.message {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: brown;
  animation: blink 750ms infinite;
  background-color: honeydew;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
